# Scrapping all the books' information

Import of libraries

In [1]:
import pandas as pd
import sys
from tqdm import tqdm

Importing .py doc to access the needed function

In [2]:
# Printing all directories for interpreter to search 

sys.path.append('../')

# Importing module

from src.support import *

Importing the CSV with the books' links

In [3]:
books_urls = pd.read_csv('../data/books_urls1.csv')
books_urls.head()

                                                   0
0  https://www.goodreads.com/book/show/2657.To_Ki...
1  https://www.goodreads.com/book/show/72193.Harr...
2  https://www.goodreads.com/book/show/1885.Pride...
3  https://www.goodreads.com/book/show/48855.The_...
4  https://www.goodreads.com/book/show/170448.Ani...

Turning the info of the data frame into a list so that it can be iterable for the function

In [4]:
books_urls_list = [url for url in books_urls["0"]]
books_urls_list[:5]

['https://www.goodreads.com/book/show/2657.To_Kill_a_Mockingbird',
 'https://www.goodreads.com/book/show/72193.Harry_Potter_and_the_Philosopher_s_Stone',
 'https://www.goodreads.com/book/show/1885.Pride_and_Prejudice',
 'https://www.goodreads.com/book/show/48855.The_Diary_of_a_Young_Girl',
 'https://www.goodreads.com/book/show/170448.Animal_Farm']

Calling the function to get all the books' information

In [5]:
book_info_generator = tqdm(get_info(books_urls_list), total = len(books_urls_list))
book_info = list(book_info_generator)
book_info[:3]

  0%|          | 0/10000 [00:00<?, ?it/s]

 99%|█████████▉| 9880/10000 [7:04:41<05:09,  2.58s/it]

[{'Cover': 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1553383690i/2657.jpg',
  'Title': 'To Kill a Mockingbird',
  'Author': 'Harper Lee',
  'Genre': 'Classics, Fiction, Historical , Fiction, School',
  'Rating': '4.26',
  'Rating Count': '5,889,033\xa0ratings114,192\xa0reviews',
  'Year': 'First published July 11, 1960',
  'Pages': '323 pages, Paperback'},
 {'Cover': 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1170803558l/72193.jpg',
  'Title': 'Harry Potter and the Philosopher’s Stone',
  'Author': 'J.K. Rowling',
  'Genre': 'Fiction, Young , Adult, Magic, Childrens',
  'Rating': '4.47',
  'Rating Count': '9,637,191\xa0ratings155,419\xa0reviews',
  'Year': 'First published June 26, 1997',
  'Pages': '223 pages, Paperback'},
 {'Cover': 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1320399351i/1885.jpg',
  'Title': 'Pride and Prejudice',
  'Author': 'Jane Austen',
  'Genre': 'Classics, Fiction, Romance, Historical , Fiction',
  'Rating': '4.28',
  'Rating Count': '4,104,158\xa0ratings108,318\xa0reviews',
  'Year': 'First published January 28, 1813',
  'Pages': '279 pages, Paperback'}]

Turning the list of dictionaries into a data frame

In [6]:
books_information = pd.DataFrame(book_info)
books_information.head()

,Cover,Title,Author,Genre,Rating,Rating Count,Year,Pages
0,https://images-na.ssl-images-amazon.com/images...,To Kill a Mockingbird,Harper Lee,"Classics, Fiction, Historical , Fiction, School",4.26,"5,889,033 ratings114,192 reviews","First published July 11, 1960","323 pages, Paperback"
1,https://images-na.ssl-images-amazon.com/images...,Harry Potter and the Philosopher’s Stone,J.K. Rowling,"Fiction, Young , Adult, Magic, Childrens",4.47,"9,637,191 ratings155,419 reviews","First published June 26, 1997","223 pages, Paperback"
2,https://images-na.ssl-images-amazon.com/images...,Pride and Prejudice,Jane Austen,"Classics, Fiction, Romance, Historical , Fiction",4.28,"4,104,158 ratings108,318 reviews","First published January 28, 1813","279 pages, Paperback"
3,https://images-na.ssl-images-amazon.com/images...,The Diary of a Young Girl,Anne Frank,"Classics, Nonfiction, Biography, Memoir, Histo...",4.19,"3,602,741 ratings40,034 reviews","First published January 1, 1947","283 pages, Mass Market Paperback"
4,https://images-na.ssl-images-amazon.com/images...,Animal Farm,George Orwell,"Classics, Fiction, Dystopia, Fantasy, School",3.98,"3,727,391 ratings90,737 reviews","First published August 17, 1945","128 pages, Mass Market Paperback"

In [7]:
books_information.to_csv('../data/books_information1.csv', index = False)